mysql:
  host: localhost
  port: 3306
  username: root
  password: 
  dbname: smartlab
gin:
  port: 80
  mode: debug
log:
  level: debug
wechat:
  appid:
  secret:
serverchan:
  - VIEW https://sc.ftqq.com/3.version
swagger:
  host: localhost
  scheme: http